
<h1>Tweets Index</h1><br>
<h5>Buscar Tweet </h5>
<p style="color: red">
  <%= notice %>
</p>

<%= form_with url: tweets_path, method: :get do |form|%>
<%= form.text_field :query_text, placeholder: t('Buscador de usuarios'), value: params[:query_text]%>
<%end%><br><br>
  <div id="tweets">
    <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
    <%= link_to "Mostrar" , tweet %>
    </p>
    <% end %>
  </div>
<%=raw pagy_nav(@pagy)%>
<%= link_to "Crear un nuevo tweet" , new_tweet_path %>
